<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>你画我猜</title>
	<style>
		* {
			padding: 0;
			margin: 0;
		}
		.create	{
			position: absolute;
			top: 50%;
			left: 50%;
			color: #333;
			font-size: 16px;
			width: 120px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			transform: translate(-50%, -50%);
			border: 1px solid #ddd;
			border-radius: 5px;
		}
		.enter {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 200px;
			height: 200px;
			transform: translate(-50%, -50%);
		}
	</style>
</head>
<body>
	<!--  创建房间 -->
	<div class="create">创建房间</div>

	<!-- 进入游戏二维码 -->
	<img class="enter" src="" alt="">
	

	<script>

		window.onload = function(){
			var domain = '192.168.1.182:3001';
			var src = 'http://qr.liantu.com/api.php?text=http://' + domain + '/guess/1';
			var server = 'ws://' + domain;

			var btn = document.querySelector('.create');
			var enter = document.querySelector('.enter');

			// 创建房间
			btn.addEventListener('touchstart', function(){
				btn.style.display = 'none';
				enter.style.display = 'block';
				enter.src = src;
			});

			// 连接websocket服务
			var websocket = new WebSocket(server);

			websocket.addEventListener('open', function(event){
				console.log('websocket is open');
			});

			websocket.addEventListener('message', function(event){
				var data = JSON.parse(event.data);
				console.log(event.data);
				if(data.type == 1 && data.status == 1){
					window.location.href = 'http://' + domain + '/painter/1';
				}
				console.log('接收socket信息： ' + event.data);
			});

			websocket.addEventListener('close', function(event){
				console.log('websocket is close');
			});
		}

	</script>


</body>
</html>