<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>你画我猜</title>
	<link rel="stylesheet" href="/styles/base.css">
	<link rel="stylesheet" href="/styles/login.css">
</head>
<body>

	<div class="login_module">
		<input type="text" class="username" placeholder="请输入昵称">
		<span class="login">进入游戏</span>
	</div>

	<!-- 游戏界面 -->
	<div class="game_module">
		<!-- 房间列表 -->
		<div class="games">
			<ul class="game_list">
				<li>
					<div class="game_info">
						<p class="game_id">房间号：1231312</p>
						<p class="num">当前游戏人数：12</p>
					</div>
					<span class="enter">进入房间</span>
				</li>
			</ul>
		</div>
		<!--  创建房间 -->
		<div class="create">创建房间</div>
	</div>

	<!-- 游戏界面 -->
	<div class="painter_interface">
		<!-- 画笔参数 -->
		<div class="params">
			<!-- 选择画笔大小 -->
			<ul class="line_width">
				<li data-index="0"></li>
				<li data-index="1"></li>
				<li data-index="2"></li>
			</ul>
			
			<!-- 选择画笔颜色 -->
			<ul class="line_color">
				<li data-index="0"></li>
				<li data-index="1"></li>
				<li data-index="2"></li>
				<li data-index="3"></li>
			</ul>
		</div>
		<!-- 画板 -->
		<div class="cmodule">
			<canvas id="canvas" width="300" height="300"></canvas>
		</div>
		<!-- 工具选择 -->
		<div class="tool">
			<span class="clear">清除画布</span>
			<span class="eraser">橡皮擦</span>
		</div>
	</div>

	<!-- 显示绘制图片 -->
	<div class="painter">
		<img class="photo" src="" alt="">
	</div>

	

	<!-- 脚本 -->
	<script src="/scripts/config.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/login.js"></script>
	<script src="/scripts/painter.js"></script>
</body>
</html>